* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#seva-img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

#texto-nav {
  position: relative;
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

#texto-nav::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

#texto-nav:hover::before {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(img/img-fondo.jpg);
}

a {
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 5%;
  background-color: rgba(15, 12, 82, 1);
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 100;
}
.t-user,
.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  gap: 20px;
}

.log-in {
  width: 50vw;
  height: 50vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#h1-user {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

button {
  display: block;
  font-size: 20px;
  margin: 30px;
  padding: 10px 50px;
  background-color: rgba(12, 8, 93, 0.75);
  color: white;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.6s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
}

.in-btn {
  text-decoration: none;
}

button:hover {
  background-color: rgba(15, 12, 82, 1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

button:active {
  background-color: rgba(15, 12, 82, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
  position: relative;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 60%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

.forgot-password-container {
  position: absolute;
  top: 60px;
  right: -200px;
}

.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 10px 20px;
  background-color: rgba(126, 109, 183, 1);
  color: white;
  border-radius: 29px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 30%;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.forgot-password:hover {
  transform: translateY(-2px);
}

.forgot-password:active {
  background-color: rgba(100, 85, 160, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

form {
  width: 80%;
  align-content: center;
}

main {
  display: flex;
  width: 80%;
  margin-top: 100px;
}

/* Sidebar styles */
.container-mat {
  display: flex;
  flex-direction: column;
  background-color: #7e6db7;
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  margin-right: 40px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

ul {
  list-style-type: none;
  color: white;
  line-height: 2;
  font-size: 18px;
}

ul li {
  margin-left: 10px;
}

/* Main content styles */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.main-content p {
  font-size: 24px;
  margin-bottom: 20px;
}

.checkbox-mat {
  transform: scale(1.2); /* Tamaño del checkbox */
}

section p {
  color: white;
}

li a {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: rgb(219, 207, 207);
}

button a {
  text-decoration: none;
}

.f-container {
  display: inline;
}

.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 40%;
  gap: 20px;
  color: black;
  margin-top: 40px;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  margin-left: auto;
}

#seva-img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

#texto-nav,
#perfil-nav {
  position: relative;
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

#texto-nav::before,
#perfil-nav::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

#texto-nav:hover::before,
#perfil-nav:hover::before {
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-align: center;
  margin-top: 100px; /* Ajustado para permitir el espacio del header fijo */
}

.txt-bienv {
  margin-bottom: 30px; /* Ajustado para separación con los botones */
  color: white;
  font-size: calc(1.5rem + 2vw); /* Tamaño de fuente responsivo */
}

.instruction-text {
  margin-bottom: 40px; /* Añade espacio debajo del texto de instrucciones */
  color: white;
  font-size: 20px;
  max-width: 600px; /* Limita el ancho del texto para una mejor legibilidad */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.btn-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: none;
  background-color: #7e6db7;
  font-size: calc(0.8rem + 1vw); /* Tamaño de fuente responsivo */
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 300px;
}

.edificios-link {
  text-decoration: none;
  color: white;
}
.main-content {
  margin-top: 60px; /* Ajusta el margen superior para que no se solape con el header */
  display: flex;
}

.left-panel {
  width: 30%;
  padding: 20px;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.filters select {
  padding: 10px;
  font-size: 16px;
}

.right-panel {
  width: 70%;
  padding: 20px;
  overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
}

.classrooms-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.classroom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.classroom-image {
  position: relative;
  width: 100%;
  height: 300px;
}

.classroom-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.classroom-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
}

.classroom-details {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating {
  margin-bottom: 10px;
}

.details p {
  margin-bottom: 5px;
}

.details a {
  color: #007bff;
  text-decoration: none;
}

.details a:hover {
  text-decoration: underline;
}

.container-edificios {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    padding: 10px;
  }

  .right-panel {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  #search-input {
    font-size: 14px;
  }

  .filters select {
    font-size: 14px;
  }

  .classroom-image {
    height: 200px;
  }

  .classroom-details {
    padding: 10px;
  }

  .details p {
    font-size: 14px;
  }

  .details a {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px 3%;
    flex-direction: row; /* Asegura que los elementos permanezcan en una fila */
    justify-content: space-between; /* Mantiene el espacio entre los elementos */
  }

  .left-section,
  .right-section {
    width: auto;
    justify-content: center;
  }

  #seva-img {
    width: 50px; /* Ajusta aún más el tamaño de la imagen */
  }

  #texto-nav,
  #perfil-nav {
    font-size: 16px; /* Tamaño de fuente ajustado */
  }
}
/* Aulas admin */
.container-edificios {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.column {
  flex: 1;
  min-width: 250px; /* Asegura que las columnas no sean demasiado estrechas en pantallas pequeñas */
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  background-color: #7e6db7;
  font-size: 1.2rem; /* Tamaño de fuente más grande */
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que las columnas ocupen toda la altura disponible */
}

.column h1 {
  font-size: 1.2rem; /* Tamaño de fuente más grande para el título */
  margin-bottom: 1rem;
  color: white;
}

.aula {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.aula p {
  color: white;
  margin: 0;
}

.edit-link {
  margin-top: auto; /* Empuja el enlace de editar al final de la columna */
  text-align: center;
  text-decoration: none;
  color: #007bff;
}

.edit-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .column {
    font-size: 1rem; /* Reducir el tamaño de la fuente en pantallas más pequeñas */
  }

  .container-edificios {
    flex-direction: column;
  }
}
/*--*/

/* Estilos para el contenedor de materias */
.materias-container {
  display: flex;
  justify-content: center; /* Centra el contenedor en la pantalla */
  padding: 1rem;
  width: 80%;
  height: 50%;
}

.materias-column {
  width: 80%; /* Ancho del 80% de la pantalla */
  max-width: 1200px; /* Máximo ancho para pantallas grandes */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  background-color: #7e6db7bc;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para mayor profundidad */
}

.materias-column h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.materia-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  color: white;
}

.materia-actions {
  display: flex;
  font-weight: bold;
  gap: 0.5rem;
}

.materia-actions a {
  text-decoration: none;
}

.edit-button {
  color: #007bff;
}

.edit-button:hover {
  text-decoration: underline;
}

.delete-button {
  color: #ff4d4d;
}

.delete-button:hover {
  text-decoration: underline;
}

.add-materia-button {
  margin-top: auto;
  text-align: center;
  text-decoration: none;
  color: #28a745;
  font-weight: bold;
}

.add-materia-button:hover {
  text-decoration: underline;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .materias-column {
    font-size: 1rem;
    width: 100%; /* Ancho completo en pantallas pequeñas */
    padding: 0.5rem;
  }

  .materias-container {
    padding: 0.5rem;
  }
}
/*--*/

@media (max-width: 480px) {
  body {
    height: 120vh;
  }
  header {
    padding: 10px 2%;
    flex-direction: row; /* Asegura que los elementos permanezcan en una fila */
    justify-content: space-between; /* Mantiene el espacio entre los elementos */
  }

  .left-section,
  .right-section {
    width: auto;
    justify-content: center;
  }

  #seva-img {
    width: 40px; /* Tamaño de la imagen en pantallas muy pequeñas */
  }
  .instruction-text {
    font-size: 8px; /* Tamaño de fuente ajustado */
  }

  #texto-nav,
  #perfil-nav {
    font-size: 14px; /* Tamaño de fuente ajustado */
  }
}
.top-left{
  padding: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  width: 19%;
  position: absolute;
  top: 110px;
  left: 100px;
  color: white;
  border-style: none;
}

.can{
  display: flex;
  padding: 10px 60px;
  border-radius: 20px;
  background-color: #4b0082; 
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;
}

.div-start{
  display: flex;
  flex-direction: nowrap;
  position: absolute;
  align-items: flex-end; 
  gap: 10px; 
}

.prof-body{
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  white-space: nowrap;
}

.top-corn{
  padding: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  width: 19%;
  position: absolute;
  top: 250px;
  left: 100px;
  color: white;
  border-style: none;
}
  
#mid{
  display: flex;
  background-color: #4b0082;
  
}
