<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEVA - Inscripción</title>
    <link rel="stylesheet" href="../static/styles/AAA-estilo.css">
</head>
<body class="container-inscribirse">
   <header>
      <div class="left-section">
        <a href="#">
          <img src="/static/img/uca-logo.png" alt="seva-img" id="seva-img" />
        </a>
        <a href="inicio-alumno.html" id="texto-nav">SEVA</a>
      </div>
      <div class="right-section">
        <a href="perfil-alumno.html" id="perfil-nav">Mi perfil</a>
      </div>
    </header>
    <main>
        <h1 class="txt-inscribirse">Seleccionar en qué aula y comisión va a cursar</h1>
        
        <section class="subject">
            <h3 class="txt-inscribirse">Álgebra</h3>
            <div class="class">
                <p><a href="aulas-alumno.html">Magno - AULA 356</a></p>
                <p class="txt-inscribirse">Comisión DM</p>
                <p class="txt-inscribirse"><span class="students">7/15</span> <span class="inscribirse active">Inscribirse</span></p>
            </div>
            <div class="class">
                <p ><a href="aulas-alumno.html">Moro - AULA 402</a></p>
                <p class="txt-inscribirse">Comisión CM</p>
                <p class="txt-inscribirse"><span class="students">15/15</span> <span class="inscribirse disabled">Inscribirse</span></p>
            </div>
        </section>

        <section class="subject">
            <h3 class="txt-inscribirse">Física I</h3>
            <div class="class">
                <p><a href="aulas-alumno.html">Magno - AULA 153</a></p>
                <p class="txt-inscribirse">Comisión DM</p>
                <p class="txt-inscribirse"><span class="students">29/30</span> <span class="inscribirse active">Inscribirse</span></p>
            </div>
            <div class="class">
                <p><a href="aulas-alumno.html">San Jose - AULA 153</a></p>
                <p class="txt-inscribirse">Comisión CM</p>
                <p class="txt-inscribirse"><span class="students">11/30</span> <span class="inscribirse active">Inscribirse</span></p>
            </div>
        </section>

        <section class="subject">
            <h3 class="txt-inscribirse">Programación Web</h3>
            <div class="class">
                <p><a href="aulas-alumno.html">Magno - S-57</a></p>
                <p class="txt-inscribirse">Comisión JM</p>
                <p class="txt-inscribirse"><span class="students">15/40</span> <span class="inscribirse active">Inscribirse</span></p>
            </div>
            <div class="class">
                <p><a href="aulas-alumno.html">San Jose - AULA 110</a></p>
                <p class="txt-inscribirse">Comisión AM</p>
                <p class="txt-inscribirse"><span class="students">11/30</span> <span class="inscribirse active">Inscribirse</span></p>
            </div>
        </section>

        <section class="subject">
            <h3 class="txt-inscribirse">Seminario I</h3>
            <div class="class">
                <p><a href="aulas-alumno.html">Moro - AULA 251</a></p>
                <p class="txt-inscribirse">Comisión AM</p>
                <p class="txt-inscribirse"><span class="students">20/30</span> <span class="inscribirse active">Inscribirse</span></p>
            </div>
            <div class="class">
                <p><a href="aulas-alumno.html">San Jose - AULA 121</a></p>
                <p class="txt-inscribirse">Comisión BM</p>
                <p class="txt-inscribirse"><span class="students">30/30</span> <span class="inscribirse disabled">Inscribirse</span></p>
            </div>
        </section>

        <section class="subject">
            <h3 class="txt-inscribirse">Introducción a la Informática y Transformación Digital</h3>
            <div class="class">
                <p><a href="aulas-alumno.html">Moro - AULA 357</a></p>
                <p class="txt-inscribirse">Comisión FM</p>
                <p class="txt-inscribirse"><span class="students">29/30</span> <span class="inscribirse active">Inscribirse</span></p>
            </div>
            <div class="class">
                <p><a href="aulas-alumno.html">Magno - AULA LAB-B</a></p>
                <p class="txt-inscribirse">Comisión CM</p>
                <p class="txt-inscribirse"><span class="students">11/30</span> <span class="inscribirse active">Inscribirse</span></p>
            </div>
        </section>
    </main>
    <script language="javascript" type="text/javascript" src="/static/script/inscribirse.js"></script>
</body>
</html>

